@model Guid 
<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#like-@Model.ToString()" href="@Url.Action("Delete", "Like", new {id = Model})">
    <span class="glyphicon glyphicon-heart post-like gi-2x gi-red"></span> 
</a>